body {
    background-color: maroon;
}

p {
 font-family: helvetica;    
 font-size: 20px;

}

body {
    background-image: url("paper.gif");
    background-color: #cccccc;
     background: url("");
}